snippet fs
f'$1'
endsnippet

snippet pfs
print(f'$1')
endsnippet

snippet pdb
import pdb
pdb.set_trace()
endsnippet

snippet pd
print(f'$1 = {$1}')
endsnippet

snippet wo
with open($1, '$2') as $3:
endsnippet

snippet cls
class $1:
	def __init__(self):
		$2
endsnippet

snippet exception
class $1(Exception):
	def __init__(self$2):
		self.message = f'$3'
		super.__init__(self.message)
endsnippet
