snippet fs
f'$1'
endsnippet

snippet pfs
print(f'$1')
endsnippet

snippet pdb
import pdb
pdb.set_trace()
endsnippet

snippet pd
print(f'$1 = {$1}')
endsnippet

snippet wo
with open($1, '$2') as $3:
endsnippet
